.footer-area {
  position: relative;
  background: radial-gradient(circle at center, #1b2b6b 0%, #050b2e 70%);
  color: #fff;
  overflow: hidden;
  
}
footer {
    display: block;
    unicode-bidi: isolate;
}
.secondary-bg {
    background-color: var(--secondary-color);
}

img, svg {
    vertical-align: middle;
}

.footer__shape-regular-left {
  position: absolute;
  left: 0;
  top: 30px;
  /* z-index: 1; */
}

.footer__shape-solid-left {
  position: absolute;
  left: 0;
  top: 0;
  /* bottom: 120px; */
  /* z-index: 1; */
}

.footer__shape-solid-right {
  position: absolute;
  right: 0;
  top : 0;
  /* top: 80px; */
  /* z-index: 1; */
}

.footer__shape-regular-right {
  position: absolute;
  right: 0;
  top: 30px;
  /* bottom: 120px; */
  /* z-index: 1; */
}

.footer__shadow-shape {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  animation: footer__shadow 10s linear infinite alternate;
  /* z-index: 0; */
}


.f-container, .f-container-fluid, .f-container-lg, .f-container-md,
 .f-container-sm, .f-container-xl, .f-container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}
/* .footer__wrp {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: start;
    gap: 40px;
} */


.footer__wrp {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
@media (max-width: 767px) {
    .pb-100 {
        padding-bottom: 50px;
    }
}

@media (max-width: 767px) {
    .pt-100 {
        padding-top: 50px;
    }
}

/* .footer__item p {
  color: #cfd6ff;
  line-height: 1.8;
  margin-top: 15px;
} */
.footer__item p {
    color: var(--white);
    opacity: 0.8;
}

p {
    margin: 0;
    padding: 0;
    line-height: 28px;
    font-size: 16px;
}

.footer__item .social-icon {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.footer__item .social-icon a {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    /* border-radius: 50%; */
    transition: var(--transition);
    border-radius: 0;
    border: 1px solid rgba(227, 227, 227, 0.2);
    color: var(--white);
}

.fa-brands, .fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
}
.fa, .fa-brands, .fa-duotone, .fa-light, .fa-regular, .fa-solid, .fa-thin, .fab, .fad, .fal, .far, .fas, .fat {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

.footer__item.item-sm {
    max-width: 170px;
    width: 100%;
}

.footer-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 25px;
}

.footer__item.item-big{
    max-width: 270px;
    width: 100%;
}

.footer__item .logo {
    margin-top: -30px;
}
.logo {
    display: block;
    width: 196px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-20 {
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    /* display: inline-block; */
    color: var(--heading-color);
    transition: var(--transition);
}
a:-webkit-any-link {
    /* color: -webkit-link; */
    cursor: pointer;
    /* text-decoration: underline; */
}

.footer__item .footer-title {
    margin-bottom: 30px;
    color: var(--white);
}

h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.footer__item ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}

.footer__item ul li:not(:last-child) {
    margin-bottom: 15px;
}
.footer__item .footer-contact li {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--white);
}

li {
    list-style: none;
     display: list-item;
    unicode-bidi: isolate;
}

/* .footer__item ul li a {
  color: #cfd6ff;
  text-decoration: none;
  transition: 0.3s;
} */
.footer__item ul li a {
    color: var(--white);
    opacity: 0.8;
}
a {
    text-decoration: none;
    display: inline-block;
    color: var(--heading-color);
    transition: var(--transition);
}

.footer__item ul li a:hover {
  color: #4d7cff;
  padding-left: 5px;
}

.social-icon {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.social-icon a {
  width: 38px;
  height: 38px;
  border: 1px solid rgba(255,255,255,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: 0.3s;
}

.social-icon a:hover {
  background: #4d7cff;
  border-color: #4d7cff;
}


.footer-contact {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-contact li {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.footer-contact h5 {
  font-size: 16px;
  margin-bottom: 5px;
}

.footer-contact p {
  margin: 0;
  color: #cfd6ff;
}

/* .footer__copyright {
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 20px 0;
  margin-top: 40px;
} */

.footer__copyright{
    position: relative;
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 225, 0.2);
}
.c-container, .c-container, .c-container-lg, .c-container-md, .c-container-sm, .c-container-xl, 
.c-container-xxl
 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.gap-1 {
    gap: .25rem !important;
}
.align-items-center {
    align-items: center !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}
.d-flex {
    display: flex !important;
}
.copyright-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__copyright p,
.footer__copyright a {
  color: #cfd6ff;
  font-size: 14px;
    font-weight: 600;
}

.footer__copyright p {
    color: var(--white);
    opacity: 0.8;
}

.footer__copyright a {
    color: var(--white);
    opacity: 0.8;
}
.footer__copyright ul {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__copyright a:hover {
  color: #4d7cff;
}
/* 
.scroll-up {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}

.scroll-up.active-scroll {
  opacity: 1;
  visibility: visible;
}

.scroll-up svg {
  transform: rotate(-90deg);
}

.scroll-up path {
  fill: none;
  stroke: #4d7cff;
  stroke-width: 4;
}

.scroll-icon {
  position: absolute;
  inset: 0;
  margin: auto;
  font-size: 18px;
  color: #4d7cff;
  background-color: #4d7cff;
} */
.scroll-up {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 55px;
  height: 55px;
  cursor: pointer;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* circle progress */
.scroll-up svg {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(0deg);
}

.scroll-up path {
  fill: none;
  /* stroke: #4d7cff; */
  stroke-width: 0.5;
  background-color: #4d7cff;
  /* color: #fff; */
}

/* UP ICON */
.scroll-icon {
  font-size: 26px;   /*  icon size */
  color: #4d7cff;
  z-index: 2;
  background: #fff; /* optional */
  border-radius: 50%;
}

.footer__item {
  text-align: left;
}

.footer__item .logo {
  margin: 0 0 20px 0; /* remove negative margin */
  width: auto;
}

.footer-contact li {
  align-items: flex-start;
}

.footer-contact h5 {
  font-weight: 700; /* bold */
  color: #fff;
}

.footer-contact p {
  color: #cfd6ff;
  font-weight: 400;
}

@media (max-width: 992px) {
  .footer__wrp {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .footer__wrp {
    grid-template-columns: 1fr;
  }
}
