.process-area {
  padding: 120px 0;
  background: #fcfcfd;
  color: #050b2e;
  width: 100%;
}

/* ===== CONTAINER ===== */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}

/* ===== SECTION HEADER ===== */
.process-headerr {
  margin-bottom: 70px;
}

.process-header h5 {
  color: #0a6fd4;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-decoration: double;
}

.process-header h2 {
  font-size: 40px;
  font-weight: 700;
   text-align: center;
}

/* ===== PROCESS IMAGE ROW ===== */
.process-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}

.process-img-wrap {
  flex-shrink: 0;
}

/* IMAGE CIRCLE */
.process-img {
  width: 180px;
  height: 180px;
  margin: auto;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  background: #fff;
}

.process-img::before {
  content: "";
  position: absolute;
  inset: -6px;
  border: 1.5px dashed #3b6cff;
  border-radius: 50%;
  animation: rotateCircle 12s linear infinite;
}

.process-img img {
  width: 100%;
  border-radius: 50%;
}

/* NUMBER */
.process-img span {
  position: absolute;
  top: -5px;
  left: -5px;
  background: #3b6cff;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  z-index: 2;
}

/* ARROW */
.process-arrow {
  margin: 0 25px;  
}
/* ===== PROCESS TEXT ROW ===== */
.process-text-row {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 30px;
  text-align: center;
}

.process-box {
  width: 280px;
}

.process-box h4 {
  margin-bottom: 10px;
  font-size: 20px;
}

.process-box p {
  font-size: 15px;
  line-height: 26px;
}

/* ===== MOBILE ===== */
@media (max-width: 991px) {

  .process-row {
    flex-direction: column;
  }

  .process-arrow {
    transform: rotate(90deg);
    margin: 15px 0;
  }

  .process-text-row {
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
  }
}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg); /* clockwise */
  }
}
