* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Main Container */
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 20px;
}

/* Card Layout */
.register-card {
  display: flex;
  width: 900px;
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.6s ease-in-out;
}

/* Fade Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* LEFT SIDE */
.register-image-section {
  flex: 1;
  background: linear-gradient(135deg, #3572f5, #1d4ed8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
}

.register-image-section img {
  width: 100%;
  max-width: 280px;
  margin-bottom: 25px;
}

.register-image-section h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.register-image-section p {
  font-size: 14px;
  opacity: 0.9;
}

/* RIGHT SIDE */
.register-form-section {
  flex: 1;
  padding: 50px 40px;
}

/* Header */
.register-header {
  margin-bottom: 30px;
}

.register-header h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
}

.register-header p {
  font-size: 14px;
  color: #6b7280;
}

/* Form */
.form-group {
  margin-bottom: 20px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    /* border-radius: 8px; */
    font-size: 0.875rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 0 15px;
  height: 50px;
  /* transition: 0.3s; */
  position: relative;
  /* background: #f9fafb; */
}

.inside-icon {
  color: #2563eb;
  margin-right: 10px;
  font-size: 18px;
}

.input-wrapper input {
  height: 100%;
  font-size: 14px;
  border-style: none !important ;
  outline: none;
}

/* Password Toggle */
.password-toggle {
  cursor: pointer;
  color: #6b7280;
}

/* Button */
.register-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #2563eb, #1d4ed8);
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(37, 99, 235, 0.4);
}

/* Login Link */  
.login-link-container {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-link-container a {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}

.login-link-container a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .register-card {
    flex-direction: column;
  }

  .register-image-section {
    display: none;
  }
}